body{
    background-image: url(table.jpg);
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;

}

/* .div1{
    
} */

h1{
    margin: auto;
    color: goldenrod;
}
button{
    color: darkgreen;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
